sudo: required
services: 
  - docker

before_install:
  - docker build -t dockintocloud/react-test -f ./client/Dockerfile.dev ./client

scripts: 
  #  - docker run dockintocloud/react-test npm test -- --coverage
  # changed due to JEST library changes
  docker run -e CI=true dockintocloud/react-test npm test

after_success:
  - docker build -t dockintocloud/multi-client ./client
  - docker build -t dockintocloud/multi-nginx ./  nginx
  - docker build -t dockintocloud/multi-server ./server
  - docker build -t dockintocloud/multi-worker ./worker

# log into docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

# push images to docker hub
  - docker push dockintocloud/multi-client
  - docker push dockintocloud/multi-nginx
  - docker push dockintocloud/multi-server
  - docker push dockintocloud/multi-worker
